<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p class="formLabel">
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter %>
    </p>
    <p class="formLabel">
        <%= form.label :body %><br>
        <%= form.text_area :body %>
    </p>
    <p class="formLabel">
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </p>
    <p  class="button">
      <%= form.submit %>
    </p>
  <% end %>